<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :task_status %>
  </div>

  <div class="field">
    <%= form.label :input %>
    <%= form.text_field :input, id: :task_input %>
  </div>

  <div class="field">
    <%= form.label :output %>
    <%= form.text_field :output, id: :task_output %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
