<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @task.id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Input:</strong>
  <%= @task.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @task.output %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
